
*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    margin-top: 20px;
    font-family:cursive;
    font-weight: 400;
}
.raw{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px 20px;
    height: 90vh;
}
.col{
    float: left;
}
.-one{ 
    width: 40%;
    height: 100%;
    padding: 0 0;
    background-color: #a59d9d00;
    position: relative;
    animation-delay: -2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}
@keyframes example1 {
    from{left: 0px;}
    to{left: 797px;}
}
@keyframes example11 {
    from{left: 797px;}
    to{left: 0px;}
}
.all{
    border: 1px solid rgba(0, 0, 0, 0);
    height: 100%;
    margin: 0 70px;
}
.column{
    padding: 50px 0 30px 0;
}
h2{
    font-size: 3vw;
}
.-two{
    width: 60%;
    height: 100%;
    border-radius: 60px;
    background-color: whitesmoke;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes example2 {
    from{left: 0px;}
    to{left: -40%;} 
}
@keyframes example22 {
    from{left: -40%;}
    to{left: 0px;} 
}
.-one form{
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    width: 200;
    top: 50%;
    transform: translateY(-50%);
}

.img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 1280px) {
    
    @keyframes example1 {
        from{left: 0px;}
        to{left: 750px;}
    }
    @keyframes example11 {
        from{left: 550px;}
        to{left: 0px;}
    }
}
@media screen and (max-width: 1024px) {
    
    @keyframes example1 {
        from{left: 0px;}
        to{left: 550px;}
    }
    @keyframes example11 {
        from{left: 550px;}
        to{left: 0px;}
    }
}
@media screen and (max-width: 820px) {
    body{
        text-align: center;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(90deg, rgb(252, 252, 252), rgba(255, 0, 98, 0.308));
    }
    .raw{
        margin: 0;
        padding: 0;
        height: 100vh;
        
    }
    h3{
        font-size:40px;
    }
    h2{
        margin-top: 50px;
        font-size: 40px;
    }
    .col{
        float: none;
    }
    .-one{
        animation: none;
        width: 100%;
    }
    .all{
        margin: 0 20px;
    }
    .-two{
        display: none;
    }
    iframe{
        margin-top: 70px;
        height: 50%;
    }
}